body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: antiquewhite;
}

button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: greenyellow;
  border: 1px solid black;
}
button:hover{
  background-color: green;
  color: white;
}
